        body
        {
            margin:0;
            padding:0;
            overflow-x: hidden;
        }
        .card-body
          {
            text-align: center;
          }
          .card
          {
            background: aquamarine;
          }
          .page-footer
          {
            align-items: center;
            text-align: center;
            background: black;
          }
         
          .img-fluid
          {
            text-align: center;
            height:40px;
          }
          #address
          {
            text-align: left;
          }
